body {
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
.nav {
    width: 100%;
    z-index: 9999;
    
}
.jumbotron-fluid{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projek {
    width: 100%;
    height: 100vh;
    padding: 7rem 2rem;
}

.kontak {
    width: 100%;
    height: 90vh;
    padding: 14rem 20rem;
    background-color: #3a3d40;
    font-size: 2.4rem;
    align-items: center;
}

.footer {
    height: 10vh;
    padding: 1rem;
}

